.image{
    background-image: url(../Pikachu.png);
    width: 400px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.hov{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    align-items: center;
    transition: 0.5s;
}
.image:hover .hov{
    background-color: rgba(0, 0, 0, 0.705);
    opacity: 1;
    transition: 0.5s;
}
h2{
    color: white;
}